h1 {
  color: purple;
  font-size: 50px;
}

.post1{
  color: red;
  margin-top: 60px;
  margin-bottom: 60px;
}

.post2{
  color: green;
  margin-top: 60px;
  margin-bottom: 60px;
}

.post3{
  color: brown;
  margin-top: 60px;
  margin-bottom: 60px;
}

.Title{
  font-weight: bold;
  font-family: serif;
  background-color: gray;
}

.span{
  font-weight: bold;
  font-style: italic;
  color: white;

}
